<html>
    <head>
        <title>
            Demo Upload File
        </title>
    </head>
    <body>
        <h2>Demo Upload and Streaming</h2>

        <form action="http://localhost:5000"  method="post" enctype="multipart/form-data">
            Pilih file : <br/>
            <input type="file" name="file" />
            <input type="submit" value="Upload"/>
        </form>

        <p>{{notif}}</p>

        <form action="http://localhost:5000/stream" method="post" enctype="multipart/form-data">
            <input type="submit" value="stream!">
        </form>
        
    </body>
</html>
